{% extends "base.html.twig" %}

{% block title %}Index{% endblock %}

{% block content %}
    <section class="title-container">
        <h1 class="important title">
             Framework Starter Page 
        </h1>
    </section>
  
{% endblock %}